# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and runtime files
*.log
*.sqlite3
.dastyar_db

# OS files
.DS_Store
Thumbs.db

# Local env
.env
.env.*

# Databases, vectorstore
dastyar.db
digikala_products.db
vectorstore/
